* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html, body, textarea, input, select {
    font-family: Noto Sans, sans-serif;
}

section {
    scroll-margin-top: 60px;
}

p, 
.social-icons, footer, 
.form-container button, 
.price {
    font-size: 18px;
}

h2 {
    color: #000000;
    font-size: 60px;
    margin-bottom: 60px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 150px 50px 150px;
}

.blue-text {
    color: #005ed6;
}

/* header and navigation */
header {
    display: flex;
    width: 100%;
    min-height: 80px;
    background: #000000;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
}

.logo img {
    width: auto; 
    max-height: 40px; 
    padding: 10px 0 10px 25px;
}

.hamburger {
    display: none;
}

.hamburger .fas.fa-bars {
    display: block;
    cursor: pointer;
    font-size: 30px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 5px;
    border-radius: 50px;
    transition: background 0.2s ease;
}

.nav-bar ul li a:hover {
    color: #11101b;
    background: #fefefe;
}

.nav-bar ul li a.link-active {
    color: #11101b;
    background: #fefefe;
}

/* "Pradzia" page content */
.home-content {
    display: flex;
    padding: 140px 150px 50px 150px;
}

.about-us-text {
    flex: 1;
    margin-right: 20px;
}

.vision-section {
    margin: 50px 150px; 
}

.home-content img {
    max-width: 40%; 
    height: auto;
}

.text-main-section {
    margin: auto;
}

.text-main-section h2 {
    margin-bottom: 20px;
    text-align: start;
}

/* footer */
footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-brand, 
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-text {
    margin-top: 10px;
    color: #a8a8a8;
    font-size: 13px;
}

.footer-contacts {
    align-items: flex-end;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
}

/* tablet */
@media (max-width: 768px) {
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 21px;
    }

    .home-content {
        padding: 100px 75px 50px 75px;
        flex-direction: column-reverse; 
        align-items: center; 
    }

    .content {
        padding: 50px 75px 50px 75px;
    }

    .logo img {
        padding: 10px 0 10px 50px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 10px 50px 10px 0;
    }

    .hamburger .fas.fa-bars {
        display: block;
    }

    .hamburger line {
        background: #fefefe;
    }

    .nav-bar {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        height: 0;
        width: 100vw;
        background: #11101b;
        transition: background 0.2s ease;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        height: 100%;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: background 0.5s ease;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 20px;
    }

    .text-main-section {
        display: flex;
        justify-content: center; 
    }

    .home-content img {
        justify-self: center; 
        max-width: 70%; 
    }
    
    .vision-section {
        margin: 0 0 0 0;
    }

    footer, 
    .footer-content p, 
    footer-contacts {
        font-size: 15px;
    }

    .logo img {
        max-height: 35px; 
    }
}

@media (max-width: 425px) {
    p, 
    .social-icons, footer, 
    .form-container button, 
    .price {
        font-size: 16px;
    }

    h2 {
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 30px;
    }
    
    h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .home-content {
        padding: 80px 15px 40px 15px;
    }

    .content {
        padding: 40px 15px 40px 15px;
    }

    .text-main-section {
        flex-flow: column wrap;
    }

    .home-content img {
        justify-self: center; 
        max-width: 70%; 
    }

    footer {
        padding: 20px 15px;
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-brand, 
    .footer-contacts {
        align-items: center;
        margin-bottom: 15px; 
    }

    .footer-contacts {
        order: 1;
    }

    .footer-brand {
        order: 2;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .social-icons a {
        margin: 0 5px; 
    }

    footer, 
    .footer-content p, 
    footer-contacts {
        font-size: 13px;
    }

    .logo img {
        max-height: 30px; 
    }
}
