* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

html, body, textarea, input, select {
    font-family: Noto Sans, sans-serif;
}

section {
    scroll-margin-top: 60px;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background: #000000;
    color: #fff;
    padding: 10px 0px 10px 20px;
    min-height: 60px;
    align-items: center;
}

.logo img {
    width: auto; 
    height: 40px; 
}

nav {
    padding: 10px;
    justify-content: end;
    align-items: center;
}

.nav-item.active {
    font-weight: 600;
    color: red; 
}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    margin-right: 50px;
    transition: background 0.3s ease;
}

nav a:hover {
    color: red;
}

.burger-icon {
    display: none;
}

.burger-icon i {
    color: #fff;
    font-size: 35px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 150px 50px 150px;
}

.home-content {
    display: flex;
    padding: 140px 150px 50px 150px;
}

.about-us-text {
    flex: 1;
    margin-right: 20px;
}

.vision-section {
    margin: 50px 150px; 
}
  
.main-section-image {
    flex: 1;
    text-align: center;
}

.text-main-section {
    margin: auto;
}

.text-main-section h2 {
    color: #000000;
    font-size: 60px;
    margin-bottom: 20px;
}
  
.text-main-section p {
    font-size: 17px;
}

footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-brand, 
.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-text {
    margin-top: 10px;
    color: #a8a8a8;
}

.footer-contacts {
    align-items: flex-end;
}

.social-icons {
    margin-top: 10px;
    font-size: 17px;
}

.social-icons a {
    display: inline-block;
}

@media (max-width: 768px) {
    .home-content {
        padding: 100px 75px 50px 75px;
    }

    .content {
        padding: 50px 75px 50px 75px;
    }

    .header nav {
        display: none;
    }

    .burger-icon {
        display: flex;
        padding-right: 60px;
    }

    .burger-menu nav {
        display: none;
        padding: 80px 0px 0px 0px;
        flex-direction: column;
        transition: max-height 0.3s ease-out;
    }
    
    .burger-menu nav.active {
        display: flex; 
    }

    .nav-item{
        font-weight: 600;
        color: black; 
        border-bottom: 1px solid #bfbfbf;
        width: 100%;
        margin: 0px;
        background-color: #f2f2f2; 
        padding: 15px 0px 15px 0px;
        text-align: center;
    }

    .home-content {
        flex-direction: column-reverse; 
        align-items: center; 
    }

    .vision-section {
        margin: 50px 0 0 0;
    }

    .text-main-section, .main-section-image {
        width: 100%; /* Full width for better readability */
    }

    .text-main-section h2 {
        font-size: 40px; /* Adjust font size for smaller screens */
    }

    .text-main-section p {
        font-size: 15px; /* Adjust paragraph font size */
    }
}